.wm-hero {
  height: 80vh;
  display: flex;
  align-items: center;
}

.wm-hero-left {
  margin: 0px 80px;
  width: 50%;
  display: flex;
  flex-direction: column;
  justify-content: space-between;

  p {
    font-size: 35px;
    margin: 0;
    font-weight: 700;
  }
  h1 {
    font-size: 70px;
    margin: 0;
  }
}
.coloredText {
  background: -webkit-linear-gradient(rgb(93, 38, 183), rgb(57, 117, 219));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
}
.buttons a {
  text-decoration: none;
  color: white;
  padding: 10px 35px;
}
.buttons {
  button {
    background-image: linear-gradient(#383883, #05f);
    border-radius: 5px;
    box-shadow: 0 8px 22px 0 rgba(31, 38, 135, 0.37);
    color: #fff;
    cursor: pointer;
    font-size: 15px;
    font-weight: 500;
    padding: 10px 0px;
    margin-top: 20px;
    transition: 0.25s ease;
    font-family: "Clash Display", sans-serif;

    &:hover {
      scale: 1.2;
    }
  }
}

.wm-hero-right {
  margin: 0px 80px;
  img {
    border-radius: 50%;
  }
}
