.c {
  height: 50vh;
  display: flex;
  align-items: center;
  justify-content: center;

  .c-bg {
    width: 20px;
    height: 100%;
    background: -webkit-linear-gradient(rgb(11, 96, 176), rgb(64, 162, 216));
  }

  .c-wrapper {
    padding: 0 80px;
    display: flex;

    .c-left {
      flex: 1;
      display: flex;
      flex-direction: column;
      justify-content: space-between;

      .c-title {
        font-size: 60px;
        width: 80%;
      }
      .contact-gif {
        width: 400px;
        border-radius: 5px;
      }

      .c-info-item {
        display: flex;
        align-items: center;
        margin: 20px 0px;
        font-weight: 300;
        width: 70%;

        a {
          text-decoration: none;
          color: black;
          display: flex;
          align-items: center;
        }

        .c-icon {
          width: 30px;
          height: 30px;
          margin-right: 20px;
        }
      }
    }
    .c-right {
      flex: 1;
      display: flex;
      flex-direction: column;
      align-items: center;
      justify-content: center;
      .c-desc {
        font-weight: 200;
        font-size: 30px;
      }

      form {
        margin-top: 20px;
      }

      input {
        width: 50%;
        height: 50px;
        border-radius: 5px;
        border: 1px solid rgb(204, 204, 204);
        margin: 10px 0px;
        font-size: 14px;
        padding-left: 10px;
      }

      textarea {
        width: 100%;
        margin: 10px 0px;
        font-size: 14px;
        padding-left: 10px;
      }

      button {
        padding: 10px 25px;
        background-image: linear-gradient(rgb(56, 56, 131), #0055ff);
        font-weight: 500;
        cursor: pointer;
        font-size: 20px;
        color: white;
        border-radius: 5px;
        box-shadow: 0 8px 22px 0 rgba(31, 38, 135, 0.37);
        transition: 0.25s ease;
        cursor: pointer;
        &:hover {
          scale: 1.2;
        }
      }
    }
  }
}

/*! ----- Responsiveness Code ----- */

/** Mobile */

@media screen and (max-width: 576px) {
  .c {
    height: auto;
    flex-direction: column;

    .c-wrapper {
      flex-direction: column;
      padding: 0;
      .c-left {
        align-items: center;
        text-align: center;
        gap: 10px;
        .contact-gif {
          width: 300px;
        }
        .c-title {
          font-size: 40px;
        }
      }

      .c-right {
        margin: 20px;

        input {
          margin: 10px;
          margin-left: 0;
          width: 100%;
        }
      }
    }
  }
}

/** Tablet */
@media screen and (min-width: 768px) {
}

/** Laptop */

@media screen and (min-width: 992px) {
}

/** Dektop */

@media screen and (min-width: 1200px) {
}
