.wm-navbar-main {
  color: #222;
  display: flex;
  flex-direction: row;
  height: 100px;
  justify-content: space-around;
  position: fixed;
  top: 0;
  z-index: 999;
  width: 100%;

  &.scrolled {
    background-color: #222;
    transition: 0.8s;
    a {
      color: white;
      &:hover {
        color: #40a2d8;
      }
    }

    .wm-navbar-logo {
      content: url("../../assets/images/Logo-White-Transparent.png");
    }
  }
}

.wm-navbar-left {
  width: 20%;
  margin-left: 80px;
  height: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.wm-navbar-logo {
  width: 100%;
  height: 70px;
}

.wm-navbar-right {
  display: flex;
  width: 80%;
  margin-right: 80px;
  /* justify-content: space-around; */
}

.wm-navbar-right-menu {
  width: 80%;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
  gap: 20px;
}

.wm-navbar-right a {
  color: #222;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  font-family: "Clash Display", sans-serif;
  &:hover {
    color: #0b60b0;
  }
}
.wm-navbar-right-icons {
  width: 30%;
  display: flex;
  align-items: center;
  justify-content: end;
  gap: 20px;
}
.iconItem .icon {
  font-size: 30px;
  padding: 10px;
  &:hover {
    color: #0b60b0;
  }
}
