.wm-footer {
  background: url(../../assets/images/footer-bg.jpg) no-repeat center center,
    linear-gradient(rgba(0, 0, 0, 0.5), rgb(11, 96, 176));
  background-blend-mode: overlay;
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 500px;
  justify-content: space-around;
  color: white;
  margin-top: 50px;
  padding: 30px;
}

.wm-footer-icons {
  display: flex;
  gap: 20px;
}
.wm-footer-icons a {
  color: white;
  text-decoration: none;
  font-weight: 600;
  font-size: 20px;
  font-family: "Clash Display", sans-serif;
  &:hover {
    color: #0b60b0;
  }
}

.wm-footer-logo {
  img {
    height: 100px;
  }
}

.iconItem .icon {
  font-size: 60px;
  padding: 10px;
  gap: 20px;
  color: white;
  &:hover {
    color: #0b60b0;
  }
}

/*! ----- Responsiveness Code ----- */

/** Mobile */

@media screen and (max-width: 576px) {
  .wm-footer {
    height: 350px;
  }

  .wm-footer-icons .iconItem .icon {
    color: white;
  }
}

/** Tablet */
@media screen and (min-width: 768px) {
}

/** Laptop */

@media screen and (min-width: 992px) {
}

/** Dektop */

@media screen and (min-width: 1200px) {
}
