.wm-main-projects {
  display: flex;
  flex-direction: column;

  span {
    font-size: 40px;
    font-weight: 700;
    margin: 20px 80px;
    align-items: center;
    justify-content: center;
    display: flex;
  }
}

.projects {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin: 0 80px;
  margin-top: 80px;

  .iconSmall {
    font-size: 30px;
  }
}

/*! ----- Responsiveness Code ----- */

/** Mobile */

@media screen and (max-width: 576px) {
  .wm-main-projects {
    margin-bottom: 10px;
    span {
      margin: 0px 20px;
    }
  }
  .projects {
    flex-direction: column;
    margin: 30px;
  }
}

/** Tablet */
@media screen and (min-width: 768px) {
}

/** Laptop */

@media screen and (min-width: 992px) {
}

/** Dektop */

@media screen and (min-width: 1200px) {
}
